body
{
	font-family: sans-serif; /*base font*/
	width: 75%;
	margin: auto;
}

a
{ 
	font-family: Arial, sans-serif;
	font-size: 1.5em;
	text-decoration: none;
	color: #000000;
	width: 18%;
	margin-bottom: 1rem;
	padding: 0.25em;
	float: left;
	border-style: solid;
	border-radius: 0.25em;
	border-width: 0.1em;
	border-color: #04B404;
	background-color: #BCF5A9;
}
a:hover
{
	background: #64FE2E;
}

.reviewSection
{
	font-family: Helvetica, sans-serif;
	font-size: 1.2rem;
	width: 54%;
	float: left;
	margin-left: 1.75rem;
}

.writeReviewButton
{
	font-family: Verdana, sans-serif;
	font-size: 0.9rem;
	width: 20%;
	float: right;
	margin-top: -3rem;
	border-color: #000;
	background: linear-gradient(#EEE, #CCC);
}

.writeReviewButton:hover
{
	background: linear-gradient(#CCC, #EEE);
	cursor: pointer;
}

.postedReview 
{
	font-size: 0.8rem;
	text-align: justify;
	float: left;
	padding: 0.25rem;
	margin-top: -0.5rem;
	border-style: solid;
	border-radius: 0.25rem;
	border-width: 0.1rem;
	border-color: #04B404;
}

#filterSidebar
{
	width: 18%;
	float: left;
	display: block;
	padding: 0.25em;
	margin-top: 0.5em;
	border-style: none;
	background-color: #CCC;
}

#filterSidebar>ul
{
	list-style-type: none;
	margin-left: -25px;
	margin-top: 0px;
}

#filterSidebar>p
{
	font-weight: bold;	
	margin-bottom: 1px;
	margin-left: 0.25rem;
}

.defaultButton
{
	float: right;
	
	font-size: 0.9rem;
	text-align: center;	
		
	border-radius: 0.25em;
	border-color: #000;
	border-style: solid;
	border-width: 1px;
	
	background: linear-gradient(#EEE, #CCC);
	padding: 0px 10px;
	margin: 1rem;
	
}

.defaultButton:hover
{
	background: linear-gradient(#CCC, #EEE);
	cursor: pointer;
}

.defaultButton:active
{
	background: linear-gradient(#AAA, #CCC);
}

.defaultButton>p
{
	padding: 0.2rem;
	margin: 0px;
}

#addToCartSidebar
{
	width: 18%;
	float: right;
	display: block;
	padding: 0.25em;
	margin-top: 0.5em;
	margin-right: 1.5rem;
	border-style: none;
	background-color: #CCC;
}

#addToCartSidebar>ul
{
	list-style-type: none;
	margin-left: -25px;
	margin-top: 0px;
}

#addToCartSidebar>p
{
	font-weight: bold;
	margin-bottom: 1px;
	margin-left: 0.25rem;
}

.purchaseRelatedButton
{
	width: 80%;
	font-size: 1.1rem;
	
	border-radius: 0.25em;	
	border-color: #000;
	border-style: solid;
	border-width: 0.1em;
	
	background: linear-gradient(#FFF000, #FFC80F);
	padding: 0em;
	margin: 1em;
	margin-bottom: 1.5em;
	text-align: center;	
}

.purchaseRelatedButton:hover
{
	background: linear-gradient(#FFC80F, #FFF000);
	cursor: pointer;
}

.purchaseRelatedButton:active
{
	background: linear-gradient(#FFC80F, #FFC80F);
}
