body
{
	font-family: sans-serif; /*base font*/
	width: 75%;
	margin: auto;
}

a 
{
	font-family: Arial, sans-serif;
	font-size: 1.5em;
	text-decoration: none;
	color: #000000;
	width: 18%;
	margin-top: 1rem;
	margin-bottom: 1rem;
	padding: 0.25em;
	float: left;
	border-style: solid;
	border-radius: 0.25em;
	border-width: 0.1em;
	border-color: #04B404;
	background-color: #BCF5A9;
}
a:hover
{
	background: #64FE2E;
}

.review-section
{
	font-family: Helvetica, sans-serif;
	font-size: 1.2rem;
	width: 60%;
	float: left;
	margin-left: 0.5rem;
}

.write-review-button
{
	font-family: Verdana, sans-serif;
	font-size: 1rem;
	width: 22%;
	float: right;
	margin-top: -3rem;
}

.posted-review 
{
	font-size: 0.8rem;
	text-align: justify;
	float: left;
	padding: 0.25rem;
	margin-top: -0.5rem;
	border-style: solid;
	border-radius: 0.25rem;
	border-width: 0.1rem;
}

#filterSidebar
{
	width: 18%;
	float: left;
	display: block;
	padding: 0.25em;
	margin-top: 0.5em;
	border-style: none;
	background-color: #CCC;
}

#filterSidebar>ul
{
	list-style-type: none;
	margin-left: -25px;
	margin-top: 0px;
}

#filterSidebar>p
{
	font-weight: bold;	
	margin-bottom: 1px;
}

.grayButton
{
	width: 50%;
	font-size: 0.6em;
	float: right;	
	border-color: black;
	border-style: solid;
	border-width: 0.2em;
	background: linear-gradient(#EEE, #CCC);
	padding: 0em;
	margin: 1em;
	text-align: center;	
}

.grayButton:hover
{
	background: linear-gradient(#CCC, #EEE);
	cursor: pointer;
}

.grayButton:active
{
	background: linear-gradient(#AAA, #CCC);
}

#addToCartSidebar
{
	width: 18%;
	float: right;
	display: block;
	padding: 0.25em;
	margin-top: 0.5em;
	border-style: none;
	background-color: #CCC;
}

#addToCartSidebar>ul
{
	list-style-type: none;
	margin-left: -25px;
	margin-top: 0px;
}

#addToCartSidebar>p
{
	font-weight: bold;	
	margin-bottom: 1px;
}

.yellowButton
{
	width: 50%;
	font-size: 0.6em;
	float: right;	
	border-color: black;
	border-style: solid;
	border-width: 0.2em;
	background: linear-gradient(#FFF000, #FFC80F);
	padding: 0em;
	margin: 1em;
	text-align: center;	
}

.yellowButton:hover
{
	background: linear-gradient(#FFC80F, #FFF000);
	cursor: pointer;
}

.yellowButton:active
{
	background: linear-gradient(#FFC80F, #FFC80F);
}






