body
{
	width: 75%;
	margin: auto;
}

nav>a 
{
	font-family: Arial, sans-serif;
	font-size: 1.5rem;
	width: 18%;
	padding: 0.25em;
	float: left;
	border-style: solid;
	border-radius: 0.25em;
	border-width: 0.1em;
	border-color: #04B404;
	background-color: #BCF5A9;
}