/***********************************************

            Header Component
            
***********************************************/
[class*="col-"] 
{
	float: left;
	padding: 0;
	text-align: center;
}

/* Defining styles for 5 column grid */
.col-1of5 
{
	width: 20%;
}

@media (max-width: 625px) 
{
	.col-1of5 
	{
		width: 100%;
	}
	
	.col-1of2-left-main 
	{
       width: 100%
    }
    
    .col-1of2-left-fill 
    {
       width: 100%
    }
}


/***********************************************

       Uneven grid: left is the main
            
***********************************************/
[class*='col-']
{
    float: left;
    padding: 0;
}

.col-1of2-left-main 
{
    width: 70%;
}

.col-1of2-left-fill 
{
    width: 30%;
}

.grid:after 
{
    content: "";
    display: block;
    clear: both;
}

*, *:after, *:before 
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@media (max-width: 700px)
{
    .col-1of2-left-main 
    {
       width: 100%
    }
    
    .col-1of2-left-fill 
    {
    	width: 100%;
	}
    
}

