[class*="col-"] 
{
	float: left;
	padding: 0;
	text-align: center;
}

.grid:after {
	content: "";
	display: block;
	clear: both;
}

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* Defining styles for header 5 column grid */
.col-1of5head 
{
	width: 20%;
}

@media (max-width: 660px) 
{
	.col-1of5head 
	{
		width: 100%;
	}
}

/* Defining styles for 5 column grid */
.col-1of5 
{
	width: 20%;
}

@media (max-width: 660px) 
{
	.col-1of5 
	{
		width: 100%;
		margin-bottom: 0.5rem;
	}
}

/* Defining styles for 3 column grid */
.col-1of3
{
	width: 33.3333%;
}

@media (max-width: 660px) 
{
	.col-1of3 
	{
		width: 100%;
		margin-bottom: 0.5rem;
	}
}

/* Defining styles for sub 3 column grid */
.col-1of3sub
{
	width: 33.3333%;
}

/* Defining styles for 2 column grid */
.col-1of2
{
	width: 50%;
}

@media (max-width: 660px) 
{
	.col-1of2 
	{
		width: 100%;
		margin-bottom: 0.5rem;
	}
}