/*header.css; defining grids for header*/
body
{
	font-family: sans-serif; /*base font*/
	width: 80%;
	margin: auto;
}

#top>a
{
	display: inline;
}

img
{
	width: auto;
	max-width: 100%;
}

nav a
{
	font-family: Arial, sans-serif;
	font-size: 1.5rem;
	text-decoration: none;
	color: #000000;
	width: 100%;
	margin-top: 0.5rem;
	float: left;
	border-style: solid;
	border-radius: 0.25rem;
	border-width: 0.1rem;
}

.account-bar
{
	float: right;
	margin-top: 0.5rem;
}