/***********************************************

        General
            
***********************************************/
body
{
	width: 80%;
	font-family: Tahoma, sans-serif;
	padding: 1.5rem 1rem;
	margin: auto;
}

img
{
	max-width: 100%;
	height: auto;
}

section
{
	margin-top: 1rem;
}

.position
{
	text-align: left;
	display: block;   
}

.sub-heading
{
	font: Verdana, sans-serif;
	font-size: 1.2rem;
	color: #0aa;
}


/***********************************************

        Header
            
***********************************************/
nav a, #navToggle>a
{
	width: 100%;
	font-family: Arial, sans-serif;
	font-size: 1.3rem;
	text-decoration: none;
	text-align: center;
	background-color: #ecf4f7;
	color: #406ea1;
	float: left;
	clear: both;
	border-style: solid;
	border-radius: 0.25rem;
	border-width: 0.1rem;
	border-color: #449ec4;
	padding: 0.5rem;
	margin-top: 0.5rem;
}

#navToggle
{
	padding-right: 0.5rem;
}

nav a:visited, nav a:active, #navToggle>a:active ,#navToggle>a:visited 
{
	color: #406ea1;
}

#top>a
{
	display: block;
}

.account-bar
{
	width: 100%;
	font-size: 1rem;
	text-align: right;
	float: right;
	padding-right: 0.3rem;
}

@media (max-width: 765px)
{
	.account-bar
	{
	   padding-right: 0.5rem;
    }
}

.account-bar>a
{
	color: #000;
	text-decoration: none;
}

.account-bar>a:hover
{
	color: #000;
	text-decoration: underline;
}

.account-bar>a:visited
{
	color: #000;
	text-decoration: none;
}


/***********************************************

        footer
            
***********************************************/
footer
{
	margin-top: 5rem;
	text-align: center;
}
footer>p
{
	padding: 0;
	margin: 0;
	font-size: 0.8em;
}


/***********************************************

        Home
            
***********************************************/
.ad
{
	width: 100%;
	text-align: center;
}

@media (max-width: 765px)
{
	.ad 
	{
	   padding-right: 0.5rem;
    }
}


/***********************************************

        Product List View + Deals
            
***********************************************/
a>img 
{
	float: none;	
}

.position-text
{
	text-align: center;
}

.position-text-link>a
{
	color: #000;
	text-decoration: none;
}

.position-text-link>a:hover
{
	color: #000;
	text-decoration: underline;
}

.position-text-link>a:visited
{
	color: #000;
	text-decoration: none;
}

.position-filters
{
	text-align: left;
	padding-left: 0.5rem;
}


/***********************************************

        Product Details
            
***********************************************/
textarea
{
	width: 100%;
	resize: none;
}

.submit-btn
{
	width: 10rem;
}

.position-purchase
{
	text-align: left;
	padding-left: 1.25rem;
}

#book-title
{
	color: #037;
}

/***********************************************

        Product Comment
            
***********************************************/
div.comment 
{
	padding-bottom: 1rem;
	border-bottom: solid;
	border-color: #aaf;
	border-width: 0.1em;
}

.comment>.date
{
	font-size: 0.8rem;
}

.comment>.display-name
{
	font-weight:bold;
}

/***********************************************

        Cart Payment
            
***********************************************/
#phone-field>p, #postal-field>p, #country-field>p, #province-field>p, #text-fields>p, #card-field>p, #expiration-field>p, #pin-field>p
{
	padding-bottom: 0;
	margin-bottom: 0.1rem;
	margin-top: 0.8rem;
	margin-left: 0;
	margin-right: 0;
	
}

#phone-field>input
{
	width: 3rem;
	margin-right: 0.1rem;
}

#expiration-field>select, #postal-field>input
{
	width: 4.2rem;
	margin-right: 1rem;
}

.fieldbox-width
{
	width: 10rem;    
}

@media (max-width: 330px) 
{
	#phone-field>input
	{
		width: 25%;
    }
    
    .fieldbox-width, .payment-confirm-btn
	{
		width: 100%;    
	}
	
	#expiration-field>select, #postal-field>input
	{
		width: 40%;
		margin-right: 0;
	}
}

@media (max-width: 430px)
{
	#card-field>input
	{
		width: 20%;
		margin-right: 2%;
	}
}


/***********************************************

        Cart Items + Cart Confirmation
            
***********************************************/
.cart-item
{
	display: block;
	clear: both;
}

.col-1of2text > .sub-heading, .col-1of2text-cart > .sub-heading
{
	text-align: left;
	margin-top: 0rem;
	margin-left: 0rem;
}

.confirm-btn
{
	width: 8.5rem;
}

.confirm-btn-large
{
	width: 10rem;
	margin-top: 1rem;
}

.no-bullet
{
	text-align: left;
	list-style-type: none;
	margin-left: -2.5rem;
}

.no-bullet>li
{
	padding-bottom: 1rem;
	font-size: 1.2rem;
}

.product-img
{
	float: none;
	padding-right: 1rem;
}


/***********************************************

        Account Related
            
***********************************************/
.account-btn
{
	width: 10rem;
}

.account-btn-large
{
	width: 12rem;
}

.password-recover>a
{
	color: #000;
	text-decoration: none;
}

.password-recover>a:hover
{
	color: #000;
	text-decoration: underline;
}

.password-recover>a:visited
{
	color: #000;
	text-decoration: none;
}

.spacing
{
	padding-top: 0.3rem;
}


/***********************************************

        Contact
            
***********************************************/
.directions-btn, .direction-image
{
	width: 15rem;
}

.mail-link>a
{
	color: #000;
	text-decoration: none;
}

.mail-link>a:hover
{
	color: #000;
	text-decoration: underline;
}

.mail-link>a:visited
{
	color: #000;
	text-decoration: none;
}


/***********************************************

        Forms
            
***********************************************/
fieldset legend .subtitle 
{ 
	font-size: 80%; 
}

form
{
	padding-bottom: 1rem;	
}
 
input.field
{
	display: block;
	margin-top: 0.3rem;
}
 
input.products
{	
	float: left;
}

label.products, form[name="filter"]
{
	display: block;
	text-align: left;
}
 
.top-picks
{
	width: 100%;
	float: left;
	display: block;
}


/***********************************************

        Default Gray Button
            
***********************************************/
.default-btn, input.default-btn
{
	width: 100%;
	font-size: 1rem;
	text-align: center;
	text-decoration: none;
	color: #000;
	border-radius: 0.25em;
	border-color: #000;
	border-style: solid;
	border-width: 1px;
	background: linear-gradient(#EEE, #CCC);
	padding: 0.2rem;
	margin: 1rem 0rem;
}

.default-btn:hover
{
	background: linear-gradient(#CCC, #EEE);
	cursor: pointer;
	text-decoration: none;
}

.default-btn:active
{
	background: linear-gradient(#AAA, #CCC);
	text-decoration: none;
}

.default-btn>a
{
	color: #000;
	text-decoration: none;
}

.default-btn>a:visited
{
	color: #000;
	text-decoration: none;
}

.default-btn>p
{
	padding: 0.2rem;
	margin: 0px;
}

.default-btn>p>a:hover, .default-btn>p>a:link, .default-btn>p>a:visited,
.purchase-btn>a:hover, .purchase-btn>a:link, .purchase-btn>a:visited
{
    color: #000;
    text-decoration: none;
    text-align: center;
}

input.default-btn
{
	padding: 0.4rem;
	margin: 0px;
}



/***********************************************

        Purchase Related Buttons (Yellow)
            
***********************************************/
.purchase-btn
{
    width: 100%;
    font-size: 1.1rem;
    text-align: center; 
    background: linear-gradient(#FFF000, #FFC80F);
    padding: 1em;
    margin-right: 20rem;
    border-color: #000;
    border-style: solid;
    border-width: 1px;
    border-radius: 0.25em;
}

.purchase-btn:hover
{
	background: linear-gradient(#FFC80F, #FFF000);
	cursor: pointer;
}

.purchase-btn:active
{
	background: linear-gradient(#FFC80F, #FFC80F);
}
